%h3 Status da Impressora
%table.col-xs-12
  %tr
    %th Nome
    %th Status
    %th Última Verificação
  - @printers.each do |printer|
    %tr{class: "printer_status", id: printer.name}
      %td= printer.name
      %td= printer.status
      %td= printer.updated_at
