%h1 Propósito
%p
  A Rede Linux do IME-USP tem o propósito de oferecer aos alunos do instituto acesso a recursos de informática para fins acadêmicos. Boa parte dos cursos ministrados no instituto requer trabalhos que envolvam, de uma forma ou de outra, o uso do computador para pesquisa de informações, processamento de dados, elaboração de programas e outras tarefas.
  Além disso, as salas da rede, frequentados assiduamente por boa parte dos alunos, também funcionam como locais de convívio social onde os alunos ajudam uns aos outros, compartilham ideias e debatem tópicos.
  
%h3 Rede Linux em Números
%ul
  %li Funcionamento desde 1995;
  %li Cerca de 50 computadores clientes, acessados por cerca de 1000 alunos;
  %li 4 servidores físicos, além de vários virtuais;
  %li 2 laboratórios;
  %li Sala exclusiva para os alunos de BCC;
  %li 2 impressoras;
  %li Em operação 24 horas por dia; 7 dias por semana.

