%h1 Contato
%p Você pode contatar a administração da Rede Linux IME-USP das seguintes formas:
%br
%br
%strong Pessoalmente:
Veja a seção Localização
%br
%strong Telefone: 
(11) 3091-6482
%br
%strong Email:
admin@linux.ime.usp.br.
