%h1 Atendimento
%p
  Abaixo estão os horários de atendimento para os usuários da Rede Linux IME-USP. Durante os horários abaixo, o atendimento é feito pessoalmente na sala da administração da rede. Fora desses horários o atendimento pode ser feito somente pelo nosso email.
  %br
  %br
  %strong
    Atenção:
  nos feriados (conforme calendário do IME), semanas de break da computação e férias acadêmicas não haverá plantões.

  %table.tabel.table-striped.table-bordered.col-xs-12
    %tr
      %th Horário
      %th Segunda
      %th Terça
      %th Quarta
      %th Quinta
      %th Sexta
    %tr
      %td 8h00 - 9h00
      %td Amadeu
      %td --
      %td --
      %td --
      %td --
    %tr
      %td 9h00 - 10h00
      %td Amadeu
      %td --
      %td --
      %td --
      %td André
    %tr
      %td 10h00 - 11h00
      %td --
      %td --
      %td André e Amadeu
      %td --
      %td André
    %tr
      %td 11h00 - 12h00
      %td --
      %td --
      %td André e Amadeu
      %td --
      %td André
    %tr
      %td 13h00 - 14h00
      %td --
      %td Fernanda
      %td Fernanda
      %td Carybé
      %td --
    %tr
      %td 14h00 - 15h00
      %td André
      %td Duílio e Carybé
      %td Fernanda
      %td Carybé
      %td --
    %tr
      %td 15h00 - 16h00
      %td André
      %td Carybé
      %td Fernanda
      %td Carybé
      %td --
    %tr
      %td 16h00 - 17h00
      %td --
      %td Carybé
      %td Rodrigo
      %td Carybé
      %td --
    %tr
      %td 18h00 - 19h00
      %td --
      %td Duílio
      %td --
      %td --
      %td --
    %tr
      %td 19h00 - 20h00
      %td --
      %td Duílio
      %td --
      %td --
      %td --
    %tr
      %td 20h00 - 21h00
      %td --
      %td Duílio
      %td --
      %td --
      %td --
    %tr
      %td 21h00 - 22h00
      %td --
      %td Duílio
      %td --
      %td --
      %td --

