%h1 Rede Linux do IME-USP

%li
  =link_to "Cadastro de Novo Usuário", pre_signed_users_new_path
%li
  =link_to "Fila de Pré Cadastro", pre_signed_users_queue_path
%li
  =link_to "Status da Impressora", printer_status_path

%h2 Máquinas com problema:
=@broken
