%h1 Administrações Anteriores
%p A equipe de administradores da Rede Linux já foi composta pelos seguintes administradores. Todos eles são ou foram alunos de graduação em Ciência da Computação do IME-USP. A lista a seguir está ordenada cronologicamente.

%h3 1997 - os Fundadores
%ul
  %li Adriano Nagelschmidt Rodrigues - saída em 1999
  %li Félix Freire Barbosa de Almeida - saída em 2000

%h3 1997
%ul
  %li Daniel Imamura - saída em 1998
  %li Leonardo Rochael Almeida - saída em 1998
  %li Rogério Theodoro de Brito - saída em 1998
  %li Sérgio Lopes de Oliveira - saída em 1999

%h3 1998 - A Segunda Geração
%ul
  %li Alex Pires de Camargo - saída em 2000
  %li Caetano Jimenez Carezzato - saída em 2001
  %li Leonardo Marques Alves de Pinho - saída em 2000
  %li Livio Baldini Soares - saída em 2001
  %li Marcio Rodrigo de Freitas Carneiro - saída em 2000
  %li Rafael Caetano dos Santos - saída em 2000

%h3 2000
%ul
  %li Adriano Lopes Pereira - saída em 2001
  %li Breno Pompeu Roberto - saída em 2001
  %li Emérson Luiz Navarro Tozette - saída em 2001

%h3 2001 - A Terceira Geração
%ul
  %li Carlos Henrique de Fernandes - saída em 2003
  %li Cleber Miranda Barboza - saída em 2003
  %li Daniel André Vaquero - saída em 2003
  %li Daniel de Angelis Cordeiro - saída em 2003
  %li Danilo Toshiaki Sato - saída em 2003
  %li Pedro Losco Takecian - saída em 2003
  %li Vito Alexis Di Leo Gremmelspacher - saída em 2002

%h3 2003 - A Quarta Geração
%h5 Saída em março de 2005
%ul
  %li Arthur Biazon Machado
  %li Bruno Takahashi C. de Oliveira
  %li Daniel Matuki da Cunha
  %li Eduardo Miyoshi Kasa
  %li Eduardo Teruo Katayama
  %li Patricia Megumi Matsumoto
  %li Wylliam Miguita

%h3 2005 - A Quinta Geração
%h5 Saída em março de 2007
%ul
  %li Daniel Bento de Paula
  %li Danielle Tiemy Paulo Miazaki
  %li Guilherme Camilo Amantea
  %li Guilherme Santos Grise
  %li Gustavo Henrique Braga
  %li Jan Marcel Paiva Gentil
  %li João Francisco Amorim Enomoto
  %li Rafael de Oliveira Lopes Goncalves

%h3 2007 - A Sexta Geração
%h5 Saída em março de 2009
%ul
  %li Carlos Eduardo Moreira dos Santos
  %li Cesar Gamboa Machado
  %li Evandro Fernandes Giovanini
  %li Lucas Mendes Marques Gonçalves
  %li Lucas Piva Rocha Correa
  %li Lucas Pereira Porto
  %li Rodolfo Lopes Castanheira

%h3 2009 - A Sétima Geração
%h5 Saída em março de 2011
%ul
  %li Alberto Bueno Júnior
  %li Ana Luiza Domingues Fernandez Basalo
  %li Bruno Padilha
  %li Daniel Francisco Reverbel
  %li Gregory Gonçalves de Bonis
  %li Lucas Guimarães Gassert
  %li William Alexandre Miura Gnann

%h3 2011 - A Oitava Geração
%ul
  %li Leandro Gonçalves Botelho dos Santos (saída em abril de 2011)

%h5 Saída em Março de 2013
%ul
  %li André Spanguero Kanayama
  %li Caio Renato Bedulli do Carmo
  %li Daniel Paulino Alves
  %li Leonardo Schäffer
  %li Rafael Batista Carmo
  %li Renato Scaroni
  %li Henrique Gemignani Passos Lima

%h3 2013 - A Nona Geração
%h5 Saída em Março de 2015
%ul
  %li Duilio Felix Oliveira da Silva
  %li Daniel de Quadros Miranda
  %li Edênis Freindorfer Azevedo
  %li Evandro Augusto Nunes Sanches
  %li Vitor Cerqueira Santos
  %li Ricardo Ferreira Guimaraes
  %li Ricardo Mikio Morita
