%h1 Regras da Rede
%p 
  O bom-senso e a responsabilidade devem nortear a conduta dos usuários.
  Contudo listamos aqui algumas atitudes que consideramos como infrações ou má conduta. Deixamos claro que atitudes não listadas aqui mas que comprometam a segurança da rede ou o bem-estar dos demais usuários resultarão em advertência ou punição.
  De acordo com a infração, as punições podem variar de uma advertência formal até a perda da conta.

%h3 Do uso físico da Rede
%ul
  %li Seja cuidadoso ao utilizar os equipamentos da Rede: lembre-se de que são patrimônio público e de que pode levar um longo tempo para que sejam substituídos.
  %li Faça silêncio, existem muitas salas com professores trabalhando perto das salas da rede.
  %li Mantenha as portas das salas fechadas, para manter o bom funcionamento do ar-condicionado.
  %li Não consuma bebidas nem alimentos nas salas da Rede Linux.
  %li Não desligue nenhum computador.
  %li Não desconectar nenhum periférico das máquinas (por exemplo: desconectar monitores para usá-los em seu notebook).
  %li Não mexer nas bandejas das impressoras nem "pegar papel emprestado" delas. Em caso de problemas ou falta de papel, entre em contato com os administradores.
  %li Use seu notebook nos locais apropriados. Não inutilize máquinas da Rede para usar seu notebook.
  %li Não conecte seu notebook nos pontos de rede. Use o wi-fi.

%h3 Do uso das contas
%ul
  %li Sua conta é SUA. Você não deve emprestá-la a ninguém.
  %li Você será responsabilizado pelo uso de sua conta, portanto, tome cuidado com sua senha.
  %li Evite deixar as máquinas travadas. Fique avisado de que as destravaremos caso isso nos pareça necessário. Não trave máquinas só para "guardar o lugar". Se for precisar deixar um programa rodando por muito tempo (um EP, por exemplo), utilize o screen (que lhe permite rodar um processo sem estar logado na máquina) e utilize uma prioridade baixa (utilizando o nice). Assim seu programa fica rodando e a máquina fica disponível para outro usuário se logar.

%h3 Do uso do espaço em disco da Rede
%ul
  %li Não armazene em sua conta arquivos de conteúdo ilegal - ainda que você não os disponibilize e eles sejam particulares.

%h3 Do uso da Internet na Rede
%ul
  %li Evite acessar conteúdos que possam causar constrangimento aos demais usuários.
  %li Não baixe Torrents. "Mas é um Torrent legal - não estou cometendo nenhum crime ao baixá-lo e, além disso, só dá pra baixar por Torrent esse material!" - Nesse caso, entre em contato com a administração.
  %li É dispensável dizer que acessar, disponibilizar ou "baixar" conteúdo ilegal é terminantemente proibido, pois é crime.
  %li As regras acima valem tanto para os usuários da Rede como para o Wi-Fi.

%h3 Do uso das listas de email
%ul
  %li As listas de email servem para divulgar coisas que sejam do interesse de todos. Não as utilize para discussões que sejam do interesse de um grupo pequeno.
  %li As listas de email servem para divulgar coisas que sejam do interesse de todos. Não as utilize para discussões que sejam do interesse de um grupo pequeno.
