%link{:rel => :stylesheet, :type => :"text/css", :href => "assets/stylesheets/pre_signed_users.css "}
%h1 Rede Linux do IME-USP
%h3 Pagina administrativa para pre-cadastro

%li
  = link_to "Cadastro de Novo Usuário", pre_signed_users_new_path

%li
  = link_to "Fila de Pré Cadastro", pre_signed_users_queue_path

