!!! 5
%html
  %head
    %title Rede Linux

  %h1 Rede Linux do IME-USP

  %body
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
    = yield
